:root {
  // base
  --font-primary: 'WorkSans', sans-serif;
  --font-second: 'Ubuntu', sans-serif;
  --font-third: 'Roboto', sans-serif;

  --box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);

  // colors
  --color-white: #fff;
  --color-light: #F3F4F6;
  --color-bg-light: #e5e5e5;
  --color-primary-light: #A0C3FF;
  --color-primary: #116ACC;
  --color-red: #FD4E5D;
  --color-green: #76CA66;
  --color-grey-light: #9CA3AF;
  --color-grey: #6B7280;
  --color-grey-mid: #374151;
  --color-grey-dark: #182233;
  --color-dark: #000;
}
